[2017-05-03 21:52] yaronlevi opened #2 "Support for RTL"
I am using Nexus 5 + Lollipop. System language is set to Hebrew.
When opening the example in Expo, and doing a dragging gesture, thr bar goes the other way.
Also, when doing a tap gesture nothing happens.
![screenshot_20170504-004918](https://cloud.githubusercontent.com/assets/5398977/25683259/fdc046c4-3063-11e7-87db-0f603c4c10a0.png)

[2017-05-03 23:03] Monte9 commented on #2
@yaronlevi

Yeah, I definitely didn't account for other languages. This is not a high priority feature right now so I prob won't get to it anytime soon. But i'll gladly accept a PR for it.

This is an enhancement I am working on. Keep an eye out for the next release.

[2017-05-09 16:15] ricbermo opened #3 "Not issue, just thank you!"
Hi Monte9, just wanna say thank you for this. This is how a rating package should work, no icon dependencies at all. I'll use it my project now :)

[2017-05-09 16:15] #3 closed

[2017-05-14 13:49] barbarossusuz opened #4 "Rating count"
I wanna change rating count only in child class.
In parent class should shows only result of avarage rating count so it should not be changeable. Like this;

in child: can rate stars
in parent : only shows avarage rate

Im asking how can i close this this feature and shows rate with given number.
You should add this feature in your component

[2017-05-14 14:23] #4 closed

[2017-07-31 08:01] sospedra opened #5 "Last commit "`alignContent` doesnt exists" is not pushed to npm"
:/

[2017-08-01 18:21] Monte9 commented on #5
Will fix today. Along with other enhancements. Stay tuned.

[2017-08-02 10:22] Monte9 commented on #2
@yaronlevi update to the latest release `v3.3.0`.

It has an`AirbnbRating` component that handles tap gestures for selecting the ratings. Let me know if you have any feedback. :)

[2017-08-02 10:22] #2 closed

[2017-08-02 10:23] Monte9 commented on #5
`v3.3.0` is out! Let me know if you have any feedback. :)

[2017-08-02 10:23] #5 closed

[2017-09-07 23:37] rubensbarreto opened #9 "Get Rating from AirbnbRating"
Hi!
First of all I'd like to thank you for the implementation of AirbnbRating, really good!
I'm having some problems trying to access the rating after the user clicks on it.
The onFinishRating method described on the API doesn't seem to work with AirbnbRating, how can I access the rating?
I tried declaring starSelectedInPosition to a function of mine, I'm then able to get the rating, bit the fill

[2017-09-08 18:07] Monte9 commented on #9
Hey! Thanks for using this library.

I have been a bit busy with work lately. I can look into it this weekend and get back to you.

[2017-09-11 19:29] catrieldapice commented on #9
+1

[2017-09-18 17:40] Monte9 commented on #9
@rubensbarreto @catrieldapice I have added the `onFinishRating` callback method to AirbnbRating as well. You can see the changes here: https://github.com/Monte9/react-native-ratings/commit/f64469da53ae58a2db25fa0031f5d6b5e30c1002

I have published a new version `v4.0` with these changes. Let me know if you still have any trouble using it.

I have also updated the example app to use this callback m

[2017-09-22 01:07] rubensbarreto commented on #9
Awesome, but when trying to set state, it will render undefined:

  ratingCompleted(rating) {
    console.log('Rating is: ' + rating);
    this.setState({
        rating: rating
      });
  }
![img_0885](https://user-images.githubusercontent.com/9420303/30725196-39464b20-9f19-11e7-9f03-4153391de015.PNG)

[2017-09-22 19:08] Monte9 commented on #9
can you console.log `rating`. I feel like you might be doing something else that's weird there, cause its complaining about this.setState in the error message.

[2017-09-26 00:59] rubensbarreto commented on #9
Yes, console.log rating works normally.
I just tried it again using the example source code on the repository , just change the code on App.js to:

  ratingCompleted(rating) {
    console.log('Rating is: ' + rating);
    this.setState({
      rating: rating
    });
  }

You'll see the same issue.

`import React, { Component } from 'react';
import { StyleSheet, Text, View, Platform, ScrollView } fr

[2017-10-08 21:14] rubensbarreto commented on #9
Hi Monte9, any update on this issue?

[2017-10-08 21:16] rubensbarreto opened #10 "AirBnBRating not persisting state on parent"
Opening the issue referencing the unresolved state problems on:
#9

[2017-11-21 12:04] LucasMonteiro1 opened #12 "Set value on Rating"
How to set a value after rendering the component other than by startingValue?

[2017-11-21 12:43] LucasMonteiro1 commented on #12
I used setCurrentRating to set the value, but it would be nice to have a "value" property.

[2017-12-30 03:11] malivp3494 opened #14 "Does not work with snack.expo.io"
you have lodash, lodash.times in devDependencies,
![dsqrzrdueaalqcw](https://user-images.githubusercontent.com/15379131/34450897-297eabb6-ed3d-11e7-83f8-50f19675e19e.jpg)
 so the expo snack is not going to install it.

[2018-01-14 05:56] lyquocnam opened #16 "Please update React dependency"
i see an error when build:
`npm ERR! peer dep missing: react@react@16.0.0-alpha.12, required by react-native-ratings@4.1.0`
this maybe from package react dependency, please help !

[2018-01-16 17:54] yairopro opened #17 "Unable to resolve module lodash.times"
When compiling, I get this error :
`error: bundling failed: UnableToResolveError: Unable to resolve module "lodash.times" from ".\node_modules\react-native-ratings\src\rating.js":  Module does not exist in the module map`

[2018-01-17 09:32] Monte9 commented on #17
Hey! Sorry about that.

I will publish a fix for it this weekend. Stay tuned.

[2018-01-17 09:32] Monte9 commented on #16
Hey @yairopro! Sorry about that.

I will publish a fix for it this weekend. Stay tuned.

[2018-01-17 09:33] Monte9 commented on #14
Hey @malivp3494! Sorry about that.

I will publish a fix for it this weekend. Stay tuned.

[2018-01-17 10:17] yairopro commented on #17
Thanks 👍

[2018-01-20 06:35] Monte9 commented on #10
Hi @rubensbarreto! Yes, you are right. I see the error.

The problem is not with this library but in fact with the way you are using `this.state`.

You first need to create a state in the constructor and only then can you store something on the state. Also since `ratingCompleted` is a callback function, you need to bind it in the constructor as well. is a Try this code instead:

[code]

[2018-01-20 06:35] Monte9 commented on #10
I have tried this in my app and can verify that it works. Hope this helps you!

[2018-01-20 06:35] #10 closed

[2018-01-20 06:37] Monte9 commented on #17
Ok, I have published `v5.3.0`. That should fix the issue. You can try & verify it with an expo app.

[2018-01-20 06:37] #17 closed

[2018-01-20 06:38] Monte9 commented on #16
Updated to use `react: "16.0.0"`. Please update to `v5.3.0`

[2018-01-20 06:38] #16 closed

[2018-01-20 06:39] Monte9 commented on #14
Ok, I have published `v5.3.0`. That should fix the issue. You can try & verify it with an expo app.

But I tried it on Snack and it still reverts back to `v4.3.0`. I think we will just have to wait until snack updates to the latest version of this library. I'll leave this issue open until that is resolved.

[2018-01-20 06:41] Monte9 commented on #12
Yes, for now, `setCurrentRating` is the best way to accomplish this. Feel free to submit a PR if you think there is a better way to do this.

[2018-01-20 06:41] #12 closed

[2018-01-20 07:05] Monte9 commented on #14
Hey @malivp3494 & @alpcoskun! It's working with expo now. Thanks for being patient.

Here is the snack demo for you to try: https://snack.expo.io/HyVZcDxBz

[2018-01-20 07:05] #14 closed

[2018-01-21 07:51] yairopro commented on #17
Thanks.
But I don't use expo. Would it still be fixed?

[2018-01-21 09:39] Monte9 commented on #17
Yes, it should be fixed.

[2018-01-21 14:09] yairopro commented on #17
I confirm! 👍

[2018-01-31 14:44] marcossk8 opened #18 "AirbnbRating how to change the color that comes by default in the stars"
Hi, I'm using AirbnbRating, can you change the color of the stars?

[2018-02-01 15:41] Monte9 commented on #18
You can! Please refer to this issue: https://github.com/react-native-training/react-native-elements/issues/863#issuecomment-361889506

[2018-02-01 17:27] marcossk8 commented on #18
@Monte9  I had already read, the problem is that I want to do it with an Icon, can I perform ratingImage with an Icon?

[2018-02-03 06:57] tan116 opened #19 "Rating with custom images don't work as expected. They require slide-gesture instead of tap."

[2018-02-03 07:02] tan116 opened #20 "Please provide option to enable/disable rating. For in some cases, we just want to display the overall average rating."
It would also be great if you can provide a way for the UI to show decimal rating values.

For example, if the average rating is 4.2, the fifth star should get filled to show the 0.2 value. It looks much cleaner and richer that way. Hope you upload the fix soon. Can't wait to use this amazing lib.

[2018-02-13 13:31] KishanGujarati commented on #9
you have to use different name for the variable like

`this.setState({
ratingBar: rating
});`

and

`ratingCompleted = (rating) => {
  this.setState({ratingFinal:rating});
Alert.alert("Your Rating is: " + ratingBar);}`

then you can use 'ratingBar' for displya rating

[2018-02-13 13:44] KishanGujarati commented on #19
@tan116
you can use this

`const img = require('./rating.png')`

`<Rating
  type='custom'
  ratingImage={img}
  ratingCount={5}
  imageSize={30}
  onFinishRating={this.ratingCompleted}
  style={{ paddingVertical: 10 }}
/>`

i hope it will help you....

[2018-02-14 15:49] MichelDiz opened #21 "Proposal of channel discussion"
Hi, I took the liberty of creating a public chat in the discord facing React-Native. With the intention of uniting the React-native community and improving communication.

I'm creating a channel for public discussions about your project. To avoid flooding "chat" on your github. If you can support the initiative, great! Just share the link below xD

I'm adding RN only projects to this public chat s

[2018-02-15 11:47] tan116 commented on #19
@KishanGujarati  I don't see what you've done differently. If you're referring to the "const img = ..." line, I've obviously done that.
In simpler words, the issue is this:
Tapping on a star doesn't work because the rating returned is always constant.
Sliding on the rating increases/decreases the rating _but that behavior is extremely non-intuitive_.

[2018-02-15 11:59] KishanGujarati commented on #19
@tan116
you should try this
`<AirbnbRating
                    count={5}
                    defaultRating={3}
                    size={25}
                    onFinishRating={this.ratingCompleted}
                  />`

Tapping behavior working in this...but actually problem is that only tapping behavior is working in this , sliding behavior not working in this.....

[2018-02-25 15:53] tfsjohan opened #24 "onFinishRating always returns initial value"
When clicking a star I always get the same score, regardless of what star I press. What am I doing wrong?

(In this case, score is always 2 in onFinishRating)

[code]

[2018-02-28 02:30] neilzhengzx commented on #24
I get the same wrong.

[2018-03-07 08:37] Monte9 commented on #24
Yes, that's right. For now.. sliding & clicking is a missing feature.

If someone has some time, please submit a PR for it. Thanks

[2018-03-07 08:38] Monte9 commented on #21
Hi @MichelDiz! That sounds like a great initiative. Good luck with it!

Although this is not an issue and so I am going to close it.

[2018-03-07 08:38] #21 closed

[2018-03-07 08:42] Monte9 commented on #18
@marcossk8 for now, you cannot directly use an icon from `@expo/vector-icons` or `react-native-vector-icons`.

Although if it's just 1 or two icons.. you could download it as images and then pass in custom images to the rating's component like so:

[code]

[2018-03-07 08:42] #18 closed

[2018-03-07 08:44] Monte9 commented on #19
Yes, `<AirbnbRating />` provides tapping behavior with simple animations.

I'll try to fix this issue in the next release soon.

[2018-03-07 08:47] tan116 commented on #19
Thanks. Looking forward to it

[2018-03-25 17:29] waheed25 commented on #20
yes i need that enable and disable props badly i just use this module for ratings but after that i got requirement for disable and enable but i didn't find this in docs if any way to do this please share it.

[2018-04-12 11:02] eleenak opened #25 "why isn't the ratingBackgroundColor and ratingColor working ?"
why isn't the ratingBackgroundColor and ratingColor  working ?
 i am using it from react-native-elements

[2018-05-04 06:46] Demuzx commented on #25
First of all you need to set prop type to 'custom'.

type='custom'
ratingBackgroundColor='white'

[2018-05-18 20:21] benstuijts opened #26 "Background rating box"
The box around cannot be adjusted to an other color... This box always stays white. I want to use the rating element in a black background environment.

<Rating
                        type='custom'
                        ratingColor='orange'
                        ratingBackgroundColor='white'
                        readonly
                        imageSize={24}
                        rating

[2018-06-06 19:50] fahadakhan96 commented on #20
@tan116 @waheed25 Use the ```readonly``` prop.

[2018-06-06 20:18] fahadakhan96 commented on #20
As a workaround, you may use the ```Rating``` component from ```react-native-elements```. It is inspired from this package, ```react-native-ratings```. In the ```react-native-elements``` version, there is a ```readonly``` prop that disables the rating component.

[2018-06-07 11:59] waheed25 commented on #20
Yeah ```readonly``` works perfect.

[2018-06-28 03:03] arifrachcom opened #28 "passing props to startingValue"
i have a problem when passing props to startingValue on child components

[2018-06-29 07:59] rflandezgarces commented on #26
I found a solution: go to node_modules/react-native-ratings/src/rating.js, search for "renderRatings()" and change "<Image source={source} style={{ width: imageSize, height: imageSize }} />" for "<Image source={source} style={{ width: imageSize, height: imageSize, tintColor: 'your background color' }} />". The problem is that the images of stars, hearts, etc, are a white square with the shape. Wit

[2018-07-17 17:31] randanunn commented on #26
if the tintColor form the image as mentioned above was set to transparent by default then the background color could be controlled by the style of the Rating component

[2018-07-23 09:01] rohitbhirud commented on #20
just use a View as parent to  Rating component & set pointerEvents to none
[code]

[2018-07-25 04:26] iRoachie opened #29 "Background Line between Rating Stars on Android"
Ref https://github.com/react-native-elements/react-native-elements/issues/1307

[2018-07-30 09:44] badarshahzad commented on #26
@rflandezgarces  I made changes in the react-native-elemetns/src/rating/Rating.js what I do I just simply change the color rating star. So, does the changes will effect the library I mean does it will work smoothly or does it can cause errors. (As I am from Java world and junior and don't much know about node madules). Kindly enlighten me about this does we may change libraries and may custom like

[2018-07-30 10:56] badarshahzad commented on #26
@rflandezgarces  thank you dude to give idea of modification in node-modules it working perfectly and i can change the rating star image and color in the node modules file. It didn't bring any error and working perfectly.

[2018-08-12 17:24] Monte9 opened #30 "Looking for Maintainers!"
I have been pretty busy recently and don't have the time to maintain this repo.

If you have used this repo before and would like to maintain and improve it, I'd be more than happy to let you take charge and publish new versions.

Feel free to comment on this issue with your name and a brief description of your RN projects/experience and I will reach out to you if I see a fit.

Thanks a lot!

[2018-09-17 08:12] shanzhi commented on #28
+1
how to resolve this problem?some one get it ?

[2018-09-30 22:56] Monte9 commented on #20
There is a `readonly` prop that you can use to disable input. Also you can use `isDisabled` prop as well. Look at the `/example` folder to see how to use it.

[2018-09-30 22:56] #20 closed

[2018-10-16 12:41] Bilal112 opened #31 "Star Icon Color Doesn't change"
![image](https://user-images.githubusercontent.com/23139110/47017042-a6348b00-d16a-11e8-958d-6a2bc1699899.png)

[2018-10-16 12:42] Bilal112 commented on #31
![image](https://user-images.githubusercontent.com/23139110/47017110-d714c000-d16a-11e8-991a-8d967acbf3b0.png)

[2018-10-31 08:55] nihp opened #32 "How to give space between two stars in react-native-ratings"
How to give space between two stars in react-native-ratings.

I have give padding, marginLeft and marginRight. But there is no way to give space between two elements.

[2018-10-31 15:03] arifo commented on #32
Same issue, need some padding between starts

[2018-10-31 17:39] Monte9 commented on #32
I don't think there is a way to do that right now, but should be easy enough with a `containerProp`. I can add that in the next release.. maybe this weekend?

[2018-10-31 17:59] arifo commented on #32
just for the info:
I have also noticed that in line 154 at rating.js  styles.starContainer has not been defined
https://github.com/Monte9/react-native-ratings/blob/93327ad36c2ac488a4431bb2fdbd90d56379ed0c/src/rating.js#L154

[2018-10-31 19:02] Monte9 commented on #32
Ah good catch. @arifo if you know what you need to do, can you submit a PR?

[2018-11-02 19:00] aziz-boudi4 opened #33 "How to enable Swiping ? and How to modify the styling of the text that's on top of the rating?"
Hi, Thanks for this component

I have few questions:
1- Swiping to change the rating doesn't seem to work, and I don't see any prop related to swiping even thought swiping is mentioned on the Readme file

2- How to modify the styling of the text that appears on top of the Airbnb rating?

Thanks

[2018-11-02 21:02] Monte9 commented on #33
yes, swipping and tapping are two different component right now.

It would be awesome to consolidate both of these into 1 component.

[2018-11-02 21:37] aziz-boudi4 commented on #33
@Monte9 I'll give it a try and If I end up with a good result, I'll let you know

[2018-11-02 23:18] Monte9 commented on #33
ok, great! Looking forward to it! 👍

[2018-11-24 15:35] VirenMohindra commented on #33
@aziz-boudi4 any update? did you manage to combine them?

[2018-11-24 18:11] joelrorseth commented on #31
Per the ratingColor docs, you need to set type='custom' for this to work:

[2018-11-30 07:38] a-eid commented on #32
any updates on this?

[2018-12-14 07:37] Monte9 commented on #30
For now, I am trying to maintain it myself. If you are interested to help out, please comment below.

[2018-12-14 07:37] #30 closed

[2018-12-14 12:36] Ramaraju1992 commented on #26
@rflandezgarces
i am using background as image instead Background color... in this case how can i give particular color???

Any suggestion pls!

[2019-01-18 09:02] shubhamkes opened #37 "onFinishRating is getting invoked with initial rendering."
V - 6.2.0
On first time rendering onFinishRating is getting invoked which i suppose is not expected behaviour.
Where as on changing rating star its not getting invoked and getting **'Attach a onFinishRating function here.'**

[2019-01-21 12:12] irodeanu commented on #26
Same issue

[2019-01-26 15:51] zenorocha opened #38 "Missing readonly attribute for AirbnbRating"

[2019-02-06 12:37] diegogalocha commented on #38
First of all, excelente library.

I have the same issue as my mate zenorocha.

[2019-02-06 15:59] SafdarSikander commented on #31
it changes only filled star color, how to change unfilled star color.

[2019-02-16 15:41] ialmoqren commented on #38
Not sure, but try passing `isDisabled={true}`
I think it will work as I found in the source code it's being used to disable the Stars' buttons.

[2019-02-23 09:06] marcelmastel opened #39 "AirbnbRating with type custom?"
It's possible gesture tap (Airbnb rating) with custom image (no star) or component rating with gesture tap:
`AirbnbRating
                count={5}
                showRating={false}
                startingValue={1}
                imageSize={40}
                ratingImage={RATING_IMAGE}
                ratingColor='#f94368'
                ratingBackgroundColor='#f9b313'
                type='c

[2019-02-28 11:24] aligholizade opened #40 "Missing onStartRating attribute for AirbnbRating"

[2019-02-28 11:34] #40 closed

[2019-02-28 17:48] Rana-Muhammad-Amir commented on #38
Use
readonly={true}
for readonly....
this is available in the props...

[2019-03-01 08:10] ialmoqren commented on #38
@Rana-Muhammad-Amir readonly is available in the Rating component props but not the AirbnbRating component where isDisabled should be used instead

[2019-03-04 18:46] Monte9 commented on #38
@zenorocha as suggested above, for `AirbnbRating` component, you can use the `isDisabled` prop to achieve this same effect. #41 should fix it.

[2019-03-04 18:46] #38 closed

[2019-03-05 19:01] zenorocha commented on #38
Thanks!

[2019-03-15 23:53] Craques commented on #26
Can there be a prop to be able to change the background color

[2019-03-16 10:23] smemamian commented on #24
but when you are using `AirbnbRating` you missing the touch rating feature.

[2019-03-18 17:59] saiij commented on #28
<Rating startingValue={this.props.propsName} />

[2019-03-22 03:28] fernandomunizz89 commented on #9
I'm getting the same error.
I tried everything and I did not succeed.
Please I need help!

`    ratingCompleted = (rating) => {
        this.setState({ lawyerRating: rating });
        //return rating;
    } `

`<View style={{ marginVertical: 0, height: 110, paddingTop: 20 }}>
                            <AirbnbRating
                                count={5}
                                review

[2019-04-03 07:42] KishanGujarati commented on #9
hi @fernandomunizz89
sorry for late reply

you can try this

`ratingCompleted = (rating) => {
       this.setState({
             lawyerRating: {value : rating }
        }); //return rating;
}`

[2019-04-06 15:14] AlexandroMunera commented on #26
Same issue

[2019-04-06 19:52] Craques commented on #26
there is a tintColor prop which is not included in the documentation for changing the background color

[2019-04-06 20:00] AlexandroMunera commented on #26
Thank you !

Le sam. 6 avr. 2019 à 21:52, Charles <notifications@github.com> a écrit :

[2019-05-06 09:41] vkkan opened #43 "Adding additional params to Rating component callback"
Callback "onFinishRating" accepts only a single param: rating and does not allow me to specify which instance of the Rating component has triggered the callback, since the app have more than one question to rate.

It would be great if you permitted overloaded callback or if the function simply accepted the rating as one parameter and a object as another (default to null). I could then put whatever

[2019-05-12 09:35] #31 closed

[2019-05-12 09:35] Bilal112 commented on #31
ok

[2019-05-12 13:17] apps-and-ideas commented on #26
doesn't work with `tintColor: 'transparent'`. I have an image background and would like to have the rating-box's background color to be transparent and empty star's background color to be the default(white) color. Any suggestions?

[2019-05-12 17:06] apps-and-ideas commented on #26
found the perfect workaround, y'all. just install [react-native-star-rating](npmjs.com/react-native-star-rating). This library gives you much more control over colors but only supports 0.5 increments when it comes to float-ratings. So, if your concern is the styling of the rating-bar, then go with [react-native-star-rating](react-native-star-rating) but if you are more concerned with float-value r

[2019-05-16 00:18] logindharam opened #44 "rating on tap is not working and also i want to disable swipe for rating"
rating on tap is not working and also i want to disable swipe for rating

thanks in advance
look forward to hear from you soon

[2019-05-30 04:35] wvalen opened #45 "Why didn't add selectedColor to README ducument?"
I just to find a way to change the selectedColor of AirbnbRating.  But  was sad to search no result in readme and issues.

Fortunately，i find selectedColor in  react-native-ratings/src/components/Star.js，and it could work out  my demand.

`<AirbnbRating
    count={5}
    selectedColor={Config.colors.c1}
    showRating={false}
    defaultRating={starsData[item.id] || 5}
    size={24}
    onFinishRa

[2019-05-30 18:01] Monte9 commented on #45
maybe I missed it. Would appreciate it if you can submit a PR for it so that others can find it easily.

[2019-05-31 02:02] wvalen commented on #45
It's my pleasure, but i have no access rights to push code.
I think the follow description should be ok.

### AirbnbRating

| prop | default | type | description |
| ---- | ---- | ----| ---- |
| defaultRating | 3 | number | Initial value for the rating |
| reviews | ['Terrible', 'Bad', 'Okay', 'Good', 'Great'] | string[] | Labels to show when each value is tapped e.g. If the first star is tapped,

[2019-06-02 03:11] Monte9 commented on #45
Updated: https://github.com/Monte9/react-native-ratings#airbnbrating

Thanks @wvalen! 💯

Also if you would like to contribute & improve this library, I'd be happy to give you access to this repo.

[2019-06-02 03:11] #45 closed

[2019-06-13 03:38] michaelVictoriaDev commented on #44
Any update on this ?

[2019-06-13 05:43] michaelVictoriaDev commented on #19
Any update on this ? :)

[2019-06-14 16:25] maps75 commented on #43
I need the same, please!

[2019-06-14 22:21] chai86 commented on #26
How do i get the rating colour as i'm swiping it not look like a big rectangular colour coming across? For example, with the star, the yellowish colour stays within the bounds of the star image (same with the heart). If i use a custom .png, how do i get the rating colour to stay within the bounds of my .png?

[2019-06-15 13:11] paddy10tellys opened #46 "non-standard code breaks create-react-native-web-app"
this relates to [this](https://github.com/orYoffe/create-react-native-web-app/issues/49)

**Describe the bug**
breaks the web version of create-react-native-web-app
[code]

**Expected behaviour**
web version of create-react-native-web-app not to break...

**Additional context**

 ["Don’t ship non-standard code to npm: it hurts the ecosystem!"](https://twitter.com/dan_abramov/status/100917955013429

[2019-06-15 18:43] oleksandrhinko opened #47 "minValue property doesn't work"
[code]

When I'm swiping to the left rating 0 displayed although minValue set to 4.

[2019-06-15 19:26] #47 closed

[2019-06-16 05:43] #46 closed

[2019-06-18 09:55] neerajemorphis commented on #44
I am looking for tap functionality with it.

[2019-06-30 08:40] vikalpjain opened #52 "How to remove the white background around the star"
I'm using star rating and my app has a different background color than white. The white square around the star looks very odd. Is there any way of removing that?

[2019-07-04 17:33] andydev404 commented on #52
Same here

[2019-07-04 17:35] andydev404 commented on #52
Solution: https://github.com/Monte9/react-native-ratings/issues/26#issuecomment-401279355

[2019-07-07 16:43] KangYoosam opened #53 "Space between Stars should be configurable"
## What
When I use AirbnbRating(TapRating), space between each start can not be configured.

Here is where it defines spaces. (`margin: 3`).
https://github.com/Monte9/react-native-ratings/blob/763464f0d53abb3b37f414a9d29d8a277138b649/src/components/Star.js#L63-L67

I want to give `starStyle` prop to this component.

[2019-07-10 07:44] maheshwari-1153 opened #55 "Request to add product in Start React"

[2019-07-10 08:13] #55 closed

[2019-07-11 22:34] reidkersey commented on #29
Is there any current active workaround on this? I saw someone say that resizing the image could work, however, I don't appear to have any luck (or maybe I am resizing the wrong thing).

[2019-07-15 16:07] WrathChaos commented on #52
@andydev404 Actually this is not a solution. When I set it to "transparent" whole star thing is just gone. tintColor does not work for the removal of the background.

[2019-07-17 22:02] ramaguduri commented on #53
+1 can this be merged?

[2019-07-26 09:33] Akash-T2S commented on #44
Any update on this?

[2019-07-27 19:17] mohamadian commented on #2
To support RTL, we just need to make some little changes in the code. I did it and it worked well for me. In **SwipeRating.js** file, I add a default prob **"RTL: false"**. You can set this prop to "true" and use it in an RTL user interface. I wish it is helpful.

[code]

[2019-07-27 19:22] mohamadian commented on #2
Set **RTL** probs to **true**:

[code]

[2019-08-02 22:25] chai86 opened #56 "How to get the real time rating value?"
@Monte9 I'm currently using the 'showRating' property, however i'd like to display the value (e.g **4.7** out of 10) in a different font, and maybe use a `<Text>` from react native to display it. How can i get the running real time value of this figure (whilst swipe rating) to render in `<Text>` ? Can you make this available as a property?

[2019-08-05 06:55] IntelliJAbhishek commented on #53
this is the only issue stoping me to use this library

[2019-08-14 16:49] maxakak1998 commented on #26
I think there is still issue here. When i set it tintColor to Transparent, the star is not shown correctly
Here is the snapshot from my app:
![image](https://user-images.githubusercontent.com/50696626/63039703-10829d00-beee-11e9-982d-4cbe7ec088f1.png)

[2019-08-22 18:55] halbano opened #58 "Issue with border color"
Hey there, I am experiencing an issue with the border color of the stars component.

![Screen Shot 2019-08-22 at 3 48 51 PM](https://user-images.githubusercontent.com/5341623/63541503-9dcc7f80-c4f4-11e9-9a66-ad01beb93886.png)

I shouldn't have this yellow border coming from the asset. The idea is to have the green color as the border for the filled and unfilled state.

My actual setup is:

[code]

[2019-08-26 21:59] edisoni1995 opened #59 "Rating showing incorrect value when startingValue is 3.5"
I have create component as below:

`<Rating
    showRating
    readonly
    fractions={2}
    startingValue={3.5}
    imageSize={20}/>`

Text is showing 'Rating 2.5 / 5' and that is incorrect because it should show 3.5 / 5

[2019-08-27 17:06] #59 closed

[2019-08-29 06:18] kamlesh1000 opened #62 "Github link is not found."
"Also refer to the **example** app for more detailed usage example." The link given is broken.
Current link:
https://github.com/Monte9/react-native-ratings/tree/master/example/src
Correct link:
 https://github.com/Monte9/react-native-ratings/tree/master/src

[2019-08-31 03:56] Monte9 commented on #62
Good catch! Updated.

[2019-08-31 03:56] #62 closed

[2019-08-31 08:45] pessoft opened #63 "Rating: 'componentWillReceiveProps is deprecated'"
### Reproduction
Add basic <Rating> element.

### Expected behavior
Fully comply with 0.60 RN.

### Warning
Warning: componentWillReceiveProps is deprecated and will be removed in the the next major version. Use static getDerivedStateFromProps instead. Please update the following components: SwipeRating.

[2019-09-03 10:12] KishanGujarati commented on #44
did anyone try <AirbnbRating />?
<Rating /> does'nt have rating on tap but <AirbnbRating /> have so you can try <AirbnbRating />.
it works in my case.

`<AirbnbRating
  count={10}
  defaultRating={5}
  size={20}
/>`

try this

[2019-09-03 22:46] Monte9 commented on #44
Yes, `AirbnbRating` is meant to be on-tap. Please use that if that's your use case.

[2019-09-03 22:46] #44 closed

[2019-09-08 15:52] Kellojo opened #65 "AirbnbRating - Custom Container Styling"
Hi,
First off, great library, I have just discovered it and it looks and works quite nicely, good job 👍

I may have a bit of a weird use case, but I would like to apply a custom styling to the StarContainer (alignItems: "flex-start" to be specific). Looks like there is no prop for this yet, maybe this would be a addition others would find helpful as well, not sure :)

[2019-09-08 16:54] #65 closed

[2019-09-08 17:11] Monte9 commented on #63
This is fixed in v6.5

[2019-09-08 17:11] #63 closed

[2019-09-08 17:14] #25 closed

[2019-09-08 19:41] pureinx commented on #56
@chai86 if you are using `AirbnbRating` you can get an actual rating value inside `onFinishRating` callback as a first argument.

[2019-09-08 19:51] pureinx commented on #9
Hey @fernandomunizz89! Looks now it works with useState hook:
`const [ratingCount, setRatingCount] = useState(0);`
`onFinishRating={rating => setRatingCount(rating)}`

[2019-09-08 22:49] #37 closed

[2019-09-09 02:25] winardis opened #68 "AirbnbRating not rendering properly"
Hi i tried your package and on my case it doesn't render properly on the first time
i need to navigate to a different screen then go back to the screen with AirbnbRating after that then it will render properly

here is the recording of the issue i mentioned
[https://drive.google.com/file/d/1Lgb2n_PI63oitst6ga9V2lIqH3zoaRs1/view?usp=sharing](url)

here is how i use the rating with hardcoded value
[

[2019-09-17 16:22] aikhan commented on #9
`onFinishRating={rating => this.setState({ratingGiven:rating})}

`

For those who are still stuck

[2019-09-18 23:24] Monte9 commented on #9
Thanks @aikhan @pureinx & @KishanGujarati.

Closing this issue now.

[2019-09-18 23:24] #9 closed

[2019-09-19 18:44] danielfein opened #69 "Star images not starting flush with left edge"
The best way to describe what I'm seeing is via an image:

![Screen Shot 2019-09-19 at 2 40 03 PM](https://user-images.githubusercontent.com/1616865/65271594-7bc21f00-daeb-11e9-911d-1348372b7102.png)

The issue is the stars are not starting to the left edge, so the background that would normally make up the "filled-in" aspects of the stars (the black) is visible.

[code]

STAR_IMAGE is this asset:

[2019-09-20 07:28] Anujmoglix commented on #44
AirbnbRating star is not visible in my Android MOTO E phone .

[2019-09-22 18:37] cloudy-ninja commented on #39
Does it works with AirbnbRating?

[2019-09-23 15:59] danielfein commented on #69
This was solved by adding ratingCount={5}.

Full working code with props:

[code]

[2019-09-23 15:59] #69 closed

[2019-09-30 06:54] SupriyaGo opened #70 "Rating in not working, the value in not changing, stays in the default value. I am using AirbnbRating now. But i cant able to use fraction value here. How to use fraction value, like 3.5/5."

[2019-10-04 06:49] Arslan106 opened #71 "AirbnbRating reviewColor not working"
I want to change the default reviewColor of AirbnbRating but its not working.

i am using this method

For changing reviewColor i have to change the reviewText color in the node module

[2019-10-07 02:36] nachozullo commented on #58
Im having the same problem

[2019-10-16 04:03] mattrace commented on #58
Any updates on this? Thanks!

[2019-10-20 18:46] alaminopu commented on #26
The issue still exists. Any progress on fixing this? I found out the rating image `star.png` has a white background.

[2019-10-22 17:26] Monte9 commented on #26
Haven't gotten around this fixing this, unfortunately! If anyone has some time to submit a PR, I would very much appreciate it.

[2019-10-22 18:35] alaminopu commented on #26
I will try to find a solution and make a PR. Meanwhile, if anyone looking for alternative solution. Here is my rating component look like. It was designed for read only rating.

`import React, { Component } from 'react';
import PropTypes from 'prop-types';
import { StyleSheet, View, Image } from 'react-native';

export default class Rating extends Component {
  static propTypes = {
    rating: Pro

[2019-10-30 22:35] chai86 commented on #32
@Monte9  I really need to be able to add some padding between a custom .png i'm using (just like you'd do with stars). I've modified my .png file to create space to the left and right of my icon, but in the <Rating> component, they're still squished together. Please update in a new release!

[2019-10-31 03:46] MannySAD commented on #32
@Monte9
I see you m8, try: `containerStyle={{width:140}} ` maybe wrap it into a view if you need to move it a bit more (the component as a whole)

just found this out 2 mins ago so im not too sure how viable or flexable this is.

[2019-10-31 09:17] chai86 commented on #32
I tried this, still no luck. Image looks bunched up with no spacing as in the picture:
<img width="143" alt="Screen Shot 2019-10-31 at 09 14 10" src="https://user-images.githubusercontent.com/43324724/67934178-3e0ee680-fbbf-11e9-8543-47d77d009933.png">

[code]

[2019-10-31 18:28] chai86 commented on #32
Nope, any other ideas?

[2019-11-01 20:42] chai86 commented on #32
A part solution: The .png **has** to be a square. For example 256 x256 pixels, and some filler colour can be added to the sides of the image. However to add additional padding in the react-native-ratings module....remains to be resolved.

[2019-11-11 01:18] vbrown1626 opened #74 "Stacc"
I am so entertained. I love that about u

[2019-11-11 01:18] vbrown1626 opened #75 "Stacc"
I am so entertained. I love that about u

[2019-11-11 01:23] vbrown1626 opened #76 "Heart begay"
I love you. Be  #sadw2`
[map_smn.pdf](https://github.com/Monte9/react-native-ratings/files/3829341/map_smn.pdf)
![1331625_8c94](https://user-images.githubusercontent.com/55013697/68554699-29182b80-03e7-11ea-8698-3b014264a463.jpg)

`

[2019-11-11 01:24] #76 closed

[2019-11-11 18:11] #74 closed

[2019-11-11 18:11] #75 closed

[2019-11-14 05:02] minimalistech opened #77 "Reset rating after every use"
Hi, I am showing images and using AirbnbRating to let users rate the images. I am not finding an easy way to set the rating to the default values after the user rates the first image. I wan to clear the yellow stars and show them all grey.

[2019-11-27 13:33] Awaissk commented on #43
Did you guys figured out any solution for this?

[2019-11-27 15:40] Awaissk commented on #43
I figured out a solution for this, you can give modify `onFinishRating` prop as following: -

`onFinishRating={(rating)=>this.ratingCompleted({rating, customObj: {id: 1, name: 'custom obj'})}`

After that your `ratingCompleted` callback will become something like this: -

`ratingCompleted = (obj) => {
    console.log("Rating for id: " + obj.customObj.id + ' is ' + obj.rating)
  }`

For me I was cr

[2019-12-04 10:05] BGdroid commented on #58
????

[2019-12-06 12:46] ssathishppm opened #78 "Airbnb rating not working in production build for iOS"
I have used the Airbnb rating for Android and iOS . For android it works good in both debug and production build and for iOS it didn't work in production build

[2019-12-08 10:42] Reynau commented on #26
The rating component works as it does because it renders images (stars, for example) with the external background white, and the interior of the star transparent. Then, to color the stars, they paint from left to right the background. If you want to have an image as the background, this component will not work for you, because once you set the tint on transparent, your star will be transparent too

[2019-12-10 22:30] Kastamarov commented on #58
https://github.com/Monte9/react-native-ratings/issues/26#issuecomment-480532803

[2019-12-16 12:57] henoktsegaye commented on #68
having the same issue here

[2019-12-20 07:01] anilkumartudu commented on #32
If you can sacrifice the pan gesture and will be okay with tap gesture then use AirbnbRating. Then in "node_modules/react-native-ratings/src/components/Star.js" add desired margin in styles variable defined at last.

`const styles = StyleSheet.create( {
  starStyle: {
    margin: 3
  }
} );`

3 is the default value but you can change it with your desired value.

[2019-12-21 06:34] henoktsegaye commented on #68
@winardis  I suggest using this package https://github.com/djchie/react-native-star-rating or building one for your self, this package looks like nobody is maintaining it

[2020-01-02 13:04] appielife commented on #77
You can assign the prop 'default value' to a state
For example
 defaultRating={this.state.rating}
Now reset your state to 0 or whatever initial value you want

[2020-01-21 10:46] nihp opened #79 "Clarification: It only allows to give ratings not reviews"
Does it able to give the reviews for an app using this react-native-ratings app

[2020-01-22 15:47] pROFESOR11 opened #80 "Heart filling left-to-right, why not bottom-to-up?"
Hi,
Thank you for the nice lib. I think it would be nicer to be able to customize in which direction the ratingImages would be filled. For example; a heart should be filling bottom-to-up.
Regards,

[2020-01-23 06:06] mrinal-roy-au2 commented on #32
@anilkumartudu We should not modify it in `node_modules`

[2020-01-23 06:47] anilkumartudu commented on #32
@mrinal-roy-au2 Sorry my bad i forgot to add following statement. Just clone this repository, apply your changes and add your git URL as a dependency in package.json.

[2020-01-23 10:02] mrinal-roy-au2 commented on #32
@anilkumartudu Thanks.
I forked and applied my changes and committed & pushed to me git repo. Now how will npm recognise my forked and committed repo through the package.json file dependency? Will I have to first raise a PR and get PR approved by merging changes in the original npm repo?

[2020-01-23 11:05] anilkumartudu commented on #32
@mrinal-roy-au2 Okay, so after applying changes and committing it to your repo just follow up [this process](https://martinwolf.org/2018/04/github-branch-as-dependency-package-json/). Hope this help you.

[2020-01-23 14:15] mrinal-roy-au2 commented on #32
Thank you @anilkumartudu
very useful feature you shared and I am through with our application implementation !

[2020-01-23 14:36] anilkumartudu commented on #32
@mrinal-roy-au2 Glad to know that i was able to help you.

[2020-01-25 11:02] EhsanSarshar opened #81 "{ Rating } not work as expected with RTL (right to left) enabled"
the swiping not working correctly. if I swipe my finger to left it should fill the stars and when I swipe it to right it should empty the stars as RTL UI expect. but it behave like LTR UI

[2020-02-12 18:46] Sanan4li commented on #52
facing same issue? anyone found solution?

[2020-02-24 19:49] huseyinekh commented on #26
// use instead custom raiting box

`import React from "react";
import { View, StyleSheet } from "react-native";
import { Rating } from "react-native-ratings";
import { Colors } from "react-native-paper";

const star = require("../../assets/images/elements/star.png");
const convertToPercent = rating => {
    const percent = 100 - (100 * parseFloat(rating)) / 5 + "%";
    console.log(percent);
    r

[2020-02-27 05:23] da1z opened #82 "Is it possible to do airbnb rating with halfs?"
Lets say I want possibility to give rating like 3.5, 4.5 etc.

[2020-03-05 19:09] ramisalem commented on #81
I have not seen any issue with RTL. can you provide a expo snack with your code

[2020-03-06 04:25] luvnish19 commented on #53
Why this thing is not fixed till now?

[2020-03-10 11:43] maxowy commented on #78
Did you manage to fix it? I have the same issue

[2020-03-11 08:33] mrinal-tech-prescient opened #83 "How to proportionally fill the stars"
How can we fill the star for a rating say 1.2; so it should be 1 star completely filled and the second star filled 0.2 portion. How to get this?

[2020-03-11 10:57] nhatvuminh commented on #77
I'm try but not working.

[2020-03-11 15:26] vieiraricardo commented on #52
@Sanan4li change the tintColor prop as the background of the parent view

[2020-03-11 20:33] kaueDM commented on #79
It's just a 'star counter'. You can do whatever you want with it output.

[2020-03-12 04:02] blueberry6401 commented on #52
What if I want it to be transparent?
Is there a solution, even a workaround?

[2020-03-17 00:38] mahmoudafer commented on #58
this issue should be closed thanks to this answer

[2020-03-17 00:46] nachozullo commented on #58
Thanks @Kastamarov

[2020-03-18 10:20] NativeCoder25 commented on #29
Also having the same issue and I need a quick fix or workaround for this. Resizing only works for certain devices only and still appears in other devices with different screen resolutions.

[2020-03-19 06:08] littlehome-eugene opened #85 "propTypes is deprecated"
I'm hitting `SwipeRating.js:324 Uncaught TypeError: Cannot read property 'source' of undefined
    at Module../node_modules/react-native-ratings/src/SwipeRating.js (SwipeRating.js:324)`

and the issue is discussed here..

https://github.com/necolas/react-native-web/issues/1543

[2020-03-20 03:15] littlehome-eugene opened #86 "Is it possible to use different image for each point?"
We want to use 5 points and 5 different smile faces.

Wonder if it's readily supported?

[2020-03-22 00:51] sasserlnd opened #88 "Remove the "(readonly)" text when the prop showReadOnlyText is used"
Hi, I would like to solve this issue. When using the prop 'showReadOnlyText' and set to false, it still shows the 'readonly' on top of the image. I would like to disable the slider once the user has used it once.

`<Rating
                        type='custom'
                        ratingImage={require('../../images/LogoIconRatingProjectThin.png')}
                        readonly={this.state.ra

[2020-03-30 21:17] chai86 opened #89 "How can i use 'defaultRating' property with type="custom"?"
How can i use  `defaultRating={5.6}` in my code below?

[code]

[2020-03-30 21:21] chai86 commented on #77
@appielife  How can i use this on custom type? [https://github.com/Monte9/react-native-ratings/issues/89](url)

[2020-04-07 13:01] chai86 commented on #12
@LucasMonteiro1 I was also interested in having the rating set to a value of my choosing each time the component rendered. I use SwipeRating.js. Right now if I use "startingValue" it only does it for the 1st time, then every other rating it doesn't set to a value I want. How did you achieve this? Could you please share how you did this?

[2020-04-25 17:32] Vahradrim commented on #52
I had the same issue.
It's actually because your image should not be a star with a transparent background. It should be a background with a transparent star.
Then you can change the background of your image directly.
But it's pretty annoying if you have gradient on your page for example.
It's currently not a very satisfying solution
For those interested I made a template of an image to use :
![Sta

[2020-05-11 06:50] juanjsebgarcia opened #94 "Changelog?"
We've just had a major semver version bump (which I assume means a breaking change), but there's no changelog or release notes anywhere?

Appreciate the work on the repo!

[2020-05-14 03:34] pkbiswal321 commented on #18
React-native-elemenet try following selectedColor props.

<AirbnbRating
         selectedColor="#000000"
          count={5}
          defaultRating={0}
          size={24}
          showRating={false}
          onFinishRating={ratingCompleted}
     />

[2020-05-16 03:30] Monte9 commented on #94
Yeah, I dropped the ball on that. Sorry! This repo isn't very active, so you could look at the commits and see the changes. Mostly just removed the old `ViewPropTypes` in favor of `PropTypes`

https://github.com/Monte9/react-native-ratings/pull/92/files

[2020-05-16 03:30] #94 closed

[2020-05-17 14:22] Monte9 commented on #85
This has been fixed in this PR: https://github.com/Monte9/react-native-ratings/pull/92/files

[2020-05-17 14:22] #85 closed

[2020-05-17 14:23] #79 closed

[2020-05-17 14:24] Monte9 commented on #78
Checkout the updated demo app in this repo. It has working examples for all ratings.

[2020-05-17 14:24] #78 closed

[2020-05-17 14:24] Monte9 commented on #68
Checkout the updated demo app in this repo. It has working examples for all ratings.

[2020-05-17 14:24] #68 closed

[2020-05-17 18:34] omorhefere commented on #44
Just spent some time struggling with tapping when using the <Rating /> component I didn't  realise that it wasn't for tapping.

Maybe we could rename them to <SwipeableRating /> and <TappableRating />?

[2020-05-18 06:03] KishanGujarati commented on #44
@omorhefere
did you try `<AirbnbRating />` ?

[2020-05-19 05:40] nesthub opened #96 "useNativeDriver property is missing into Animated parameters"
While clicking on the stars, it generate a warning about a missing property related to the change made on the latest react-native version.

In Star.js file

`    Animated.spring(
      this.springValue,
      {
        useNativeDriver: true, // something like this is missing
        toValue: 1,
        friction: 2,
        tension: 1,
      }`

[2020-05-21 05:42] maciass2008 commented on #52
Hi,
To change the white square around the star you have to add the "tintColor" property  to your Rating tag and make the color of your choice :

                  <Rating showRating
                   fractions={1}
                   ratingCount={5}
                   startingValue={3.3}
                   imageSize={20}
                   type='star'
                   tintColor='#E6E6E6'

[2020-05-21 18:29] themorganthompson commented on #96
+ 1

[2020-05-27 08:12] TrushalRank commented on #32
@nihp , Have you tried with starStyle attribute for giving particular star style?

[2020-06-03 17:45] lailaZayani commented on #26
use the tintColor prop which is not included in the documentation

[2020-06-07 19:04] Qamarkh opened #98 "Rating props backgrounColor & rating color is not changing"
Hello All, can someone help me out on this
ratingColor is  not changing to white plus threreis background white color how to remove thath color.

<Rating
        ratingCount={6}
          imageSize={10}
       startingValue={0}
      **ratingColor='#ffff'
         readonly={true}
         type='star'
       onFinishRating={_this.ratingCompleted}
     />

Regards
Qamar

[2020-06-09 10:41] Relax594 opened #99 "StartingValue not working"
When setting startingValue the value gets ignored on first render due to the component not finished mounting. Because of this the setState does not get called and so the initialValue stays default.

[code]

Setting the value on the second render is fine then.

[code]

So the first render the value is ratingCount / 2 (default) and the second render is 0.2.

Minimal code:
[code]

Inside componentDid

[2020-06-19 03:25] amamiri opened #101 "tap or slide on stars does not always give the right rating value in iOS."
Hi,

For iOS, the rating value received by the callback is not always synced with what the star image shows. For example, image say 4/5, the event is not triggered and keeps old initial value. You need to really pay attention in tap and slide to get the right rating value by the callback.
For android it works fine.

[2020-06-20 20:16] yamifr07 opened #102 "Error using AirbnbRating - Android"
It's working on iOS but I'm getting the following error on Android. If I remove the component, everything is working fine.

![WhatsApp Image 2020-06-20 at 17 14 53](https://user-images.githubusercontent.com/284215/85210837-b4f91b00-b319-11ea-9a30-4a8c8fad0179.jpeg)

[2020-06-21 21:27] yamifr07 commented on #102
Ok it's because I use Rating component inside react-native-paper list item description. it works on ios but not sure why it doesn't on android. outside this property, the component works

[2020-06-22 21:43] ShenriQ opened #103 "Rating Component has vertical artifacts."
![image](https://user-images.githubusercontent.com/66066454/85337867-1fcf6100-b496-11ea-8de4-37df4d5e0a2b.png)
I can see yellow artifacts when using rating components.

Here is code.
<Rating
                    ratingCount={5}
                    imageSize={50}
                    style={{}}
                    readonly={true}
                    startingValue={3}
                    tintColor={cs

[2020-06-22 21:44] ShenriQ commented on #103
`<AirbnbRating
                                count={5}
                                size={30}
                                defaultRating={4}
                                onFinishRating={(value) => {
                                    this.setState({ ratingVal: value });
                                }}
                            />`

[2020-06-22 21:45] ShenriQ commented on #103
`<Rating
                    ratingCount={5}
                    imageSize={50}
                    style={{}}
                    readonly={true}
                    startingValue={3}
                    tintColor={cst.colLightBlue}
                />`

[2020-06-22 21:59] ShenriQ commented on #103
Hi.
I fixed that issue from change code in node_modules

In SwipeRating.js Line 161
change code
`<Image source={source} style={{ width: imageSize, height: imageSize, tintColor }} />`
to
`<Image source={source} style={{ width: imageSize + 1, height: imageSize, tintColor }} />`

Is it ok if I change it?
After changed it, it worked fine and the artifacts disappeared.
Please let me know.
Thanks.

[2020-06-22 22:13] ShenriQ commented on #103
I fixed it.
I have changed the source code of SwipeRating.js from node_modules
`<View key={index} style={{styles.starContainer}}>
        <Image source={source} style={{ width: imageSize, height: imageSize, tintColor }} />
      </View>`
to
`<View key={index} style={{width: imageSize, height: imageSize}}>
        <Image source={source} style={{ width: imageSize + 1, height: imageSize, tintColor }}

[2020-06-22 23:28] #103 closed

[2020-06-23 08:50] pROFESOR11 opened #104 "Customize backgroundColor when using built-in image types"
Hi,
When built-in image types (star, rocket, bell, heart) are used, one cannot customize the backgroundColor of unfilled proportion. It is always white. It would be nice if it were customizable.

![6B93D881-B225-41DF-B234-8BF494B6691E_4_5005_c](https://user-images.githubusercontent.com/26159043/85382522-ba3bad00-b547-11ea-88fa-e4d0a8b72198.jpeg)

[2020-06-24 11:44] AftabUfaq opened #106 "useNativeDriver was not specifiec"
` <AirbnbRating
                    count={5}
                    reviews={["Terrible", "Bad", "Good", "Very Good",  "Amazing"]}
                    defaultRating={5}
                    size={30}
                    showRating={false}

                />`

 WARN     Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`

[2020-06-26 07:17] bravemaster619 commented on #32
@TrushalRank `Rating` component does not have `starStyle` props. It's for `AirbnbRating` component only.

[2020-06-30 13:40] jpenjgusic opened #107 "SelectedColor typescript missing definition missing in AirbnbRating"
SelectedColor is missing in typescript definition file for AirbnbRating.
It is working but typescript complains for missing types

[2020-06-30 20:18] yangfreezy commented on #98
adding type="custom" fixed this for me!

[2020-06-30 22:21] astreiten commented on #106
Same problem, after updating to Expo 38

[2020-07-01 14:49] astreiten commented on #43
@Awaissk You helped me a lot!! thanks

[2020-07-03 00:47] yangfreezy opened #109 "ratingBackgroundColor shows up in a small div to the right occasionally"
See screenshot
`
<Rating
      type="custom"
      ratingColor={colors.orange}
      ratingBackgroundColor={colors.progressBarBackground}
      ratingCount={5}
      tintColor={backgroundColor || 'white'}
      imageSize={20}
      startingValue={rating || 0}
      readonly
      fractions={1}
      onFinishRating={onPress}
/>
`

[2020-07-04 19:39] ui-ninja commented on #109
@yangfreezy I was facing the exact problem in this package. So i just created small package(readonly ratings)
https://github.com/ui-ninja/react-native-rating-element

[2020-07-05 10:27] ui-ninja commented on #29
This is because of images used.
Also, when wrapped inside <TouchableOpacity /> this shows grey background for brief moment.

I created a small library which support fractions and use Ionicons icons instead of - feel free to use it https://www.npmjs.com/package/react-native-rating-element

[2020-07-06 10:47] nawfalhaddi commented on #106
To fix the warning just add this line:
useNativeDriver:true
In this file node_modules/react-native-ratings/src/components/Star.js -> line 32

Exemple:

Animated.spring(
      this.springValue,
      {
        toValue: 1,
        friction: 2,
        tension: 1,
        useNativeDriver: true,
      }
    ).start();

[2020-07-06 11:32] Maddemacher commented on #106
There is an open pr for this
#108

[2020-07-07 17:48] yangfreezy commented on #109
Similar, but slightly different issue with android
![Screenshot_1594144112](https://user-images.githubusercontent.com/32309350/86821569-6d73ce00-c03f-11ea-914d-69c4d29d965c.png)

[2020-07-07 17:55] yangfreezy commented on #109
![Screenshot_1594144112](https://user-images.githubusercontent.com/32309350/86821721-94ca9b00-c03f-11ea-849f-33f77fa23165.png)

[2020-07-07 18:12] ui-ninja commented on #109
Strange..
Can you provide code snippet for this issue? This will help in reproducing it at my end using [react-native-rating-element](https://github.com/ui-ninja/react-native-rating-element)

[2020-07-07 18:15] yangfreezy commented on #109
@ui-ninja the screenshot is with using the react-native-rating package. I just switched over to your package and it works perfectly! thanks so much for actively promoting your package and commenting on it :D

[2020-07-07 18:41] ui-ninja commented on #109
Glad it could help 👍

[2020-07-08 21:08] kevinrichard31 commented on #106
same problem

[2020-07-10 18:32] anshulasethi commented on #81
@EhsanSarshar For direction aware try https://www.npmjs.com/package/react-native-rating-element .. I implemented RTL using `direction="row-reverse"` prop in above library.

[2020-07-10 18:35] anshulasethi commented on #109
@ui-ninja Your package worked like a charm .. Thanks for posting it!

[2020-07-10 18:37] anshulasethi commented on #80
@pROFESOR11 Try https://www.npmjs.com/package/react-native-rating-element
I was facing issue with RTL. This package solved for me.. just pass `direction="coloum-reverse"`

[2020-07-10 19:22] pROFESOR11 commented on #80
@anshulasethi thanks, I’ll give it a try.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: anshulasethi <notifications@github.com>
Sent: Friday, July 10, 2020 9:37:49 PM
To: Monte9/react-native-ratings <react-native-ratings@noreply.github.com>
Cc: pROFESOR11 <ali_cimen_11@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Monte9/react-native-ratings]

[2020-07-12 05:49] EhsanSarshar commented on #81
ok tnx @anshulasethi

[2020-08-06 17:16] alexttyip opened #110 "Example Snack Expo outdated"
The current Expo Snack example uses Expo v30 which is no longer supported. The demo included in this repo uses expo v37 which will work perfectly with Expo Snack and should be uploaded to the Expo Snack for ease of use.

[2020-08-09 07:30] ArjunKarki commented on #106
Any Solution for this warning please.

[2020-08-15 14:21] anastely commented on #109
I got same issue :)
Not fixed yet?

[2020-08-18 07:26] gajarajan-t2s opened #112 "Background is showing when navigating back"
It's showing background glimpse when navigating back in Android. when navigating navigator is fade page and slide down meanwhile the star image also so fading out so that it background is showing. Do you have any fix for this?

[2020-08-28 04:51] nachozullo commented on #83
I need the same feature. It's possible?

[2020-08-28 19:36] nachozullo commented on #83
@Monte9 could be possible to add this feature in the TapRating component? I realized that SwipeRating works with decimal/float ratings could it be extended to TapRating?

PD: Thanks for this library!!

[2020-09-03 21:42] mit4dev commented on #109
Having the same issue on android

[2020-09-18 08:00] aik117 opened #118 "Rating is always starting from default starting value when swiping the stars"
Thanks for the library.

I observed when swiping the stars, the rating is always starting from default starting value e.g if the ratingCount is 5 and when i swipe the stars, the stars start to fill from ratingCount/2 (i.e 2.5) although i have updated the starting value to the updated value. Is this the default behaviour? Can you please make the stars swipe from where the finger is put. Here is my

[2020-09-18 15:49] MatheusRich opened #119 "Change backgroundColor on TapRating"
I would like to change the background color of star on `AirbnbRating` the same way it's possible with `Rating` (using `ratingBackgroundColor` and/or `tintColor`).

[2020-09-21 14:08] MatheusRich opened #120 "Is there any CHANGELOG?"
I couldn't find any CHANGELOG.md or History.md for this repository. Is there any information about upgrades and breaking changes?

[2020-09-27 18:57] georgeMorales opened #123 "In Expo sdk 39 the stars do not appear"
In Expo sdk 38 it works perfect but in sdk 39 the rating does not appear, I mean it is but it is not seen.
Any solution for this?

[2020-09-29 06:42] Saad9624 opened #124 "Show Rating Vertically"
is it possible to show rating in vertical direction ?

[2020-10-05 01:55] lkakada commented on #123
I have the same issue with expo 39. Also, it has warning: Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`.

Any update for this issue?

[2020-10-05 11:32] georgeMorales commented on #123
@lkakada
The problem I am talking about that the rating is not seen I have solved it in the Star.js file in TouchableOpacity styles.starStyle puts this:
tintColor: fill && selectedColor? selectedColor: undefined,
and I have changed it for this
tintColor: fill && selectedColor? selectedColor: 'lightgrey',
The anime warning I don't know how to solve it

[2020-10-06 10:30] nazacity opened #125 "airbnbrating not shown probably"
<AirbnbRating
                onFinishRating={(val) => setRating(val)}
                showRating={false}
                size={25}
                count={5}
                defaultRating={3}
              />

please see the video below
https://drive.google.com/file/d/1zVZiLysdCidMltshlXudOYsFO5i5Hbup/view?usp=sharing

i am facing that rating star not shown probably
when i deselect the rating star

[2020-10-08 14:04] oporter1 opened #126 "Android Stars Are Not Displaying Correctly"
I am working with `"react-native-elements"` {Rating} on iOs and android. It works great on iOs but on android the star images are coming in as a solid block. See below picture. Any idea why this would be happening? Is it happening to anyone else?

[code]

[code]
[code]

![image](https://user-images.githubusercontent.com/12777243/95469165-4f26b280-094d-11eb-9fd0-ad72f7e61ab3.png)

[2020-10-12 07:22] soundaraj commented on #125
i am also have this problem

[2020-10-14 13:25] Alankl07 commented on #123
@lkakada
Estava com o mesmo problema, no seu caso componente Start dentro da node_modules vai está assim ( Animated.spring(
      this.springValue,
      {
        toValue: 1,
        friction: 2,
        tension: 1,
      }
    ).start(); )

dentro desse objeto precisa dessa propriedade useNativeDriver no meu caso eu atualizei o pacote e ele já adicionou a propriedade.
comando que utilizei foi:

[2020-10-16 15:09] dfalcon-rua commented on #125
Hello, there is solution to that? I'm still have it.

[2020-10-21 10:55] GurjantSinghAffle commented on #126
I am using the same  "react-native-elements" library.it's working fine for ios but in android, stars disappear on selecting, please have look.

      <AirbnbRating
            defaultRating={defaultRating}
            type='custom'
            ratingImage={Assets.userType.ratingbg}
            ratingColor='#FFCB27'
            ratingBackgroundColor='#c8c7c8'
            count={count}
            s

[2020-10-21 11:56] Rooib commented on #126
same here

[2020-10-21 13:57] GurjantSinghAffle commented on #126
Hi Rooib, you can use the new Library.
Link: https://www.npmjs.com/package/react-native-rating
maybe it helpful for you

[2020-10-22 19:27] vinaygoyal20 commented on #125
I was able to resolve this by making change in library,
react-native-ratings/src/components/Star.js
Line no 51
from
tintColor: fill && selectedColor ? selectedColor : undefined,

to
tintColor: fill && selectedColor ? selectedColor :"#e5e5e5",

[2020-10-22 19:28] vinaygoyal20 commented on #125
I was able to resolve this by making change in library,
react-native-ratings/src/components/Star.js
`
Line no 51
from
tintColor: fill && selectedColor ? selectedColor : undefined,

to
tintColor: fill && selectedColor ? selectedColor :"#e5e5e5"`

[2020-10-22 19:30] vinaygoyal20 commented on #125
I was able to resolve it by making Changes in file
react-native-ratings/src/components/Star.js
From

[2020-10-22 19:32] vinaygoyal20 commented on #126
I was able to resolve it by making Changes in file
react-native-ratings/src/components/Star.js
From
tintColor: fill && selectedColor ? selectedColor : undefined,
to
tintColor: fill && selectedColor ? selectedColor :"#e5e5e5",

[2020-10-31 00:31] mitchh commented on #77
I believe that this fail comes down to [this](https://github.com/Monte9/react-native-ratings/blob/master/src/TapRating.js#L23-L28); the component internally sets itself to n stars but the value of `props.defaultRating`, when trying to "reset" it, is the same as before, so nothing updates.  I hacked around it by temporarily setting `defaultRating` to something else, and then back, but it's not a ve

[2020-11-05 21:00] Arya-Aghaei commented on #124
@Saad9624 You can set `starContainerStyle` to `flexDirection: 'column'` as you can see below:
` <AirbnbRating
                readonly
                fractions={1}
                imageSize={20}
                starContainerStyle={{flexDirection: 'column'}}
                ratingCount={5}
                startingValue={2}
              />`

[2020-11-14 11:35] OlMrGreen commented on #126
Thanks, helped me instantly!

[2020-11-17 05:15] mohanrajsk commented on #86
hi @littlehome-eugene  do u able to achieve this? If yes can you please guide me to do.

[2020-11-20 16:24] jemmycalak opened #127 "Why the demo video with the result is different when I tap the start"

[2020-11-22 20:40] jbyomuhangi opened #128 "Unable to change input type of rating"
Hi, is there any way of changing the input type of the rating? I see in the docs it says it supports both swipe and tap rating, but it doesn't show a way to chose which one to use. I am using the component as shown in the docs but seems to default to swipe rating. How might I change it to use tap rating?

[2020-11-25 22:47] mawais78 commented on #112
Facing the same issue on android.

[2020-11-27 11:42] Soomootie opened #130 "Rating doesn't appear correctly on OnePlus mobiles"
The rating text doesn't appear correctly on OnePlus mobiles when using the component `<AirbnbRating />`.
To fix this you need to add this two lines to the style _reviewText_ on the following files :

- _node_modules/react-native-ratings/src/TapRating.js_
- _node_modules/react-native-ratings/src/SwipeRating.js_

`
reviewText: {
  alignSelf: 'stretch',
  textAlign: 'center'
}
`

- [ ] **This need to

[2020-12-10 04:18] PiPyL opened #131 "Don't set color for normal star"
I select 5 stars. After that I select 3 stars. Then 4 star and 5 star failed background color. It is white color -> failed. I can't set color for normal star when use AirbnbRating? Who can help me? Thanks

[2020-12-16 14:44] gilad7 commented on #26
I still can't figure out how the tintColor works. I can change the background to another color like 'black', 'red' or whatever but if I put 'transparent' it does not work, it removes the star and shows something that resembles a progress bar.

Anyone managed to solve it?

[2020-12-16 14:48] SohaibKtb commented on #26
same here, I set the tint color to red, but when I change the rating from 5 to 1, the background color of the stars change to transparent

[2020-12-17 02:30] matias3981 commented on #53
Honestly would be a really nice feature, i was very happy when i found out this lib, but now i have to dismiss to use it because. i need to set the space between the stars

[2020-12-17 07:18] nguyenductoan1995 commented on #131
change tintColor from undefine to color

[2020-12-27 12:26] jeffreybenabou commented on #126
i have the same problem, can it be fixed perement?

[2020-12-28 20:09] gilad7 commented on #52
@maciass2008 Thanks for the answer. However, if I want to set it to be transparent I just get one square that shows the rating. please see what happens when I set it to transparent
![Capture](https://user-images.githubusercontent.com/17251897/103240540-4c8a9680-4959-11eb-948d-7b5ec088f8b5.PNG)

[2021-01-05 12:20] shubhamkes commented on #126
I am too having the same issue, Isnt it fixed yet in new latest versions?

[2021-01-08 02:32] wangyi7099 opened #133 "[AirbnbRating] The item which is unrated will lose its background color"
![111](https://user-images.githubusercontent.com/24426655/103967337-bd715000-519c-11eb-8a56-e9eb5bb0ba9f.png)
Hi This is my code
[code]

[2021-01-11 12:47] gohilmukund commented on #133
I am also facing the same issue. Happens only in Android while it is working in IOS.

[2021-01-15 00:33] CarlosLeonCode commented on #133
Yes, I've the same situation...

[2021-01-15 01:07] wangyi7099 commented on #133
My solution is copy the all files from node_modules to the fold under the root of my repo and  modify `start.js`
[code]

[2021-01-15 01:24] CarlosLeonCode commented on #133
Thanks, that works!
<http://127.0.0.1:5500/temp/sign.html#> *Carlos Esteban León*

Software developer full stack
<https://linkedin.com/in/carlos-esteban-le%C3%B3n-pinilla-a646a9125>
<https://github.com/CarlosLeonCode> <https://gitlab.com/CarlosCode>
+57 3186199380Bogotá, ColombiaWebsite
<https://carlos-esteban-leon-pinilla.netlify.app/>

El jue, 14 de ene. de 2021 a la(s) 20:07, Yves Wang (
notifi

[2021-01-18 01:28] LuizGMX opened #134 "Change the "Rating" text"
Hi I need to change the "Rating" text to "Nota", how could I do that?

[2021-01-18 05:21] BiplovQss commented on #26
Need transparent. Which is not working.

[2021-01-18 05:25] BiplovQss commented on #26
Not a perfect Sol.

[2021-01-18 18:29] tomy-pg commented on #133
This is an Android specific bug. I am also experiencing the same thing.

[2021-01-20 04:37] micnguyen commented on #109
I am also experiencing this on Android API 28 with the following code:

[code]
![image (6)](https://user-images.githubusercontent.com/919166/105127643-67ee5900-5b35-11eb-8f8a-a46622a2fcdf.png)

[2021-01-24 09:40] #88 closed

[2021-01-26 08:44] SolovyovIlya commented on #118
Agreed, this looks really awkward and makes swiping more difficult.

[2021-02-09 12:35] rahulbhankar786 commented on #133
@wangyi7099 is there any permanent solution for that

[2021-02-12 14:59] sshivananda commented on #133
Fixed in v7.4.0

[2021-02-12 14:59] #133 closed

[2021-02-13 22:40] flora8984461 commented on #52
Same issue here

[2021-02-17 10:17] sshivananda commented on #131
@PiPyL can you try with 7.4.0

[2021-02-23 04:35] jim-tian commented on #134
`
const rating = xxx;

<View style={styles.ratingView}>
    <Text style={styles.ratingText}>{rating}</Text>
    <Text style={styles.currentRatingText}>xxx</Text>
    <Text style={styles.maxRatingText}>xx</Text>
 </View>
 <Rating
    showRating={false}
 />
`

I have the same problem.
This is how I do it.

[2021-02-23 04:39] jim-tian commented on #134
I have the same problem.
This is how I do it.

const rating = xxx;

<View style={styles.ratingView}>
    <Text style={styles.ratingText}>{rating}</Text>
    <Text style={styles.currentRatingText}>xxx</Text>
    <Text style={styles.maxRatingText}>xxx</Text>
 </View>
 <Rating
    showRating={false}
 />

[2021-02-23 04:43] jim-tian commented on #134
I have the same problem.
This is how I do it.

![1](https://user-images.githubusercontent.com/53417037/108803072-ba0f1800-75d4-11eb-86ee-89977f3497bc.png)

[2021-03-03 08:04] FurrukhJamal commented on #26
thank you, I am fairly new to react native and reac native elements, just wanna know how did you know that there was this prop thats not even mentioned in the docs?

[2021-03-09 18:55] patirosa95 commented on #52
Same isuue here

[2021-03-17 04:53] khushal87 opened #137 "Several tsc errors coming up from the package"
There are several tsc errors coming up in the package, Can anyone explain why is it coming up or how can I fix them?
[code]

[2021-03-18 04:14] khushal87 commented on #137
PR has been merged in and will be released in the next version.

[2021-03-18 04:14] #137 closed

[2021-03-22 15:00] sshivananda commented on #118
Fixed in #135

[2021-03-22 15:00] #118 closed

[2021-03-22 15:00] #101 closed

[2021-03-22 15:00] sshivananda commented on #83
Fixed in #135

[2021-03-22 15:00] #83 closed

[2021-03-22 15:01] #56 closed

[2021-03-23 07:51] sshivananda commented on #82
Fixed in #135

[2021-03-23 07:51] #82 closed

[2021-03-23 07:52] sshivananda commented on #127
@jemmycalak can you provide more information on this issue?
Any steps to reproduce this?

[2021-03-23 07:53] sshivananda commented on #126
This has been fixed. Please try with the latest version.

[2021-03-23 07:53] #126 closed

[2021-03-23 07:54] #131 closed

[2021-03-23 07:54] sshivananda commented on #125
Fixed in v7.4.0

[2021-03-23 07:54] #125 closed

[2021-03-23 07:55] sshivananda commented on #70
Added ability in v7.5.0

[2021-03-23 07:55] #70 closed

[2021-03-23 09:04] #127 closed

[2021-03-31 10:17] KalAvroniev opened #140 "Latest changes broke the rating code"
Issue is in src/SwipeRating.js, line 177
`( startingValue + value ) / imageSize;`
Should be:
` startingValue + value / imageSize;`

Also, startingValue property does not work because when calling `this.setCurrentRating( this.props.startingValue );` in `componentDidMount` the `this.state.isComponentMounted` is not yet set to true

Same file as above, line 105
You should change the `componentDidMoun

[2021-04-02 08:57] sshivananda commented on #140
@KalAvroniev thanks for creating this issue - and the awesome writeup. This is being fixed in #141

[2021-04-02 09:01] #140 closed

[2021-04-02 10:51] amanu-nur opened #142 "determine the ranking value directly"
what if we want to set the value directly?

[2021-04-05 06:48] khushal87 opened #143 "Convert the existing codebase to Typescript and Change the components to use React Hooks"
The package currently uses JavaScript and Class based components approach. With the changing needs its better to adapt to TypeScript as well as use React Hooks architecture. Therefore I want to convert the codebase to the same mentioned above. Can I proceed @Monte9 @sshivananda ? Thank you.

[2021-04-05 12:48] sshivananda commented on #143
Hey @khushal87  - typescript and adding tests to this repo are on the top of my list right now. Any help on either is highly appreciated.

[2021-04-05 12:58] khushal87 commented on #143
Okay I am working on the above two issues as mentioned and then I will work on writing tests for the repo. Thanks for your reply @sshivananda

[2021-04-05 13:06] sshivananda commented on #143
I can take up the tests if you are already on the typescript migration

[2021-04-05 13:17] khushal87 commented on #143
Yes I am on the typescript migration @sshivananda

[2021-04-05 13:39] sshivananda commented on #142
@amanu-nur Can you provide more description around what you are trying to accomplish?

[2021-04-05 16:19] khushal87 commented on #143
@sshivananda  Any guesses about the type of `fractionsType` in SwipeRatings.tsx?

[2021-04-12 08:03] sshivananda commented on #143
Fixed in #144

[2021-04-12 08:03] #143 closed

[2021-04-12 21:03] sshivananda opened #145 "Images folder does not exist in dist"
Introduced in 8.0.1

[code]

[2021-04-13 04:26] legaciespanda commented on #145
To resolve this issue @sshivananda @jlee0831 @SimenB @chicrock @benwiebe

**STEP 1**
Goto yourAppFolder/node_modules\react-native-ratings\dist\SwipeRating.js
replace line 5 -8 with the code below
[code]

**STEP 2**
Goto yourAppFolder/node_modules\react-native-ratings\dist\components\Star.js
replace line 3 -4 with the code below
[code]

Problem solved.

This issue should be fixed soon

[2021-04-13 10:46] khushal87 commented on #145
I will have a look at this @sshivananda Can you explain the steps to reproduce?

[2021-04-14 03:02] slasho commented on #145
yarn add react-native-ratings

import it and you got the error

[2021-04-14 08:06] #145 closed

[2021-04-14 10:22] sshivananda commented on #120
there isn't one for earlier changes - but changes post v7.5.0 are documented in https://github.com/Monte9/react-native-ratings/releases .
Is that useful?

[2021-04-14 10:24] #58 closed

[2021-04-14 10:26] sshivananda commented on #99
Fixed in v7.6.1

[2021-04-14 10:26] #99 closed

[2021-04-14 10:28] sshivananda commented on #53
Fixed in v6.4.0

[2021-04-14 10:28] #53 closed

[2021-04-15 03:42] khushal87 opened #148 "Default Rating 0 doesn't work"
As a user, I want when my component loads any of the stars are not filled by default. Or if we have an option to do so.

[2021-04-19 15:32] MBach commented on #145
Just tried with 8.0.2 release, with cleaned folders (node_modules / android build), the bug is still here.

[2021-04-20 10:30] sshivananda commented on #145
@MBach can you try with v8.0.3 - I think it was an issue with the way the package was published : I republished it again

[2021-04-22 14:23] Craques commented on #26
Hello, had the same problem so I went through the source code, was a while ago and have not been doing mobile dev, is it still not in the documentation

[2021-04-22 22:53] MBach commented on #145
Seems fine with v8.0.3!

[2021-04-23 17:44] MatheusRich commented on #120
@sshivananda sorry for the late response! I think that will do! So, any breaking changes will be reported in releases, right?

[2021-04-24 16:36] minafa96 opened #151 "AirbnbRating size and animation"
I'm using 'AirbnbRating' in android 9 and I see no animation when choosing a star.

also, I have changed the size to 32, default selected stars are fine but when selecting another star its size changes to the default size.

any idea why?

[2021-04-25 15:06] daniloitj commented on #148
Same problem

[2021-04-25 15:11] daniloitj commented on #148
In TapRAting.js line 100 chage: if (defaultRating) to if (defaultRating!=null)  (https://github.com/Monte9/react-native-ratings/blob/master/src/TapRating.tsx)

[2021-04-25 15:45] khushal87 commented on #148
I have already fixed it @daniloitj You will see this fixed soon with an update

[2021-04-26 07:50] sshivananda commented on #120
Yep -they will be

[2021-04-26 07:50] #120 closed

[2021-04-26 17:43] sshivananda commented on #26
Is in the docs

[2021-04-27 13:31] #148 closed

[2021-04-27 13:47] sshivananda commented on #128
@jbyomuhangi did you see the demo app included in the repo?

[2021-04-27 13:48] sshivananda commented on #128
For AirbnbRating use:
[code]

[2021-05-18 02:47] mraffiramdhani commented on #151
+1

[2021-05-18 13:29] AsmaTidafi commented on #18
selectedColor and unselectedColor

[2021-05-18 22:37] dejolt commented on #109
I managed to get around this bug by doing the following:

1. Modify SwipeRating.js in the node packages folder
<img width="206" alt="Screen Shot 2021-05-19 at 12 30 13 AM" src="https://user-images.githubusercontent.com/49002827/118732212-3020c500-b83a-11eb-915d-af534ae81f11.png">

2. Adding left:1 to the starsWrapper style
<img width="278" alt="Screen Shot 2021-05-19 at 12 30 33 AM" src="https://u

[2021-05-23 13:59] sshivananda commented on #142
Have you tried the `defaultRating` param?

[2021-05-23 14:00] #128 closed

[2021-05-25 08:46] Andriiklymiuk commented on #151
+1

[2021-05-28 07:31] xkguq007 opened #155 "jumpValue set value properly, but UI not set jumped value."
First of all, Sorry for bad english.

We currently use in react native v64.

I expected that jumpValue equals 0.5, I set & looks like steps to jump.
0.5 should set value 0.5 and looks like half filled star, 1.5 should set value 1.5 and looks like one full filled star and one half filled star.

However, setting and getting value works properly, but UI rendered as not jumped value.
For example, If I

[2021-05-31 12:40] ShindoSensei commented on #155
I have the same issue, used jumpValue, set it to 0.5 and fractions 1 (Same as the example above) and it doesn't show half stars. Still goes in 0.1 increments

[2021-06-02 15:00] glinda93 opened #156 "Does not work with React Navigation, esp. on second render"
Steps to reproduce:

1. Works OK on first render (but sometimes swiping re-renders the whole screen and thus resets other state values)
2. Unfocus the screen by navigation.navigate or navigation.goBack
3. Refocus the screen
4. `onStartRating`, `onSwipeRating`, `onFinishRating` will always return 0. And the rating component cannot be swiped

[code]

React Native: 0.64.1
Platform: iOS 14.5 iphone12

[2021-06-10 21:30] xiongemi opened #158 "Does not work with react-native-web"
I was trying to use react-native-web to create a web app out of my react native mobile app.
it works fine in the mobile simulator, just got errors when i run on the web browser:

I got this error:
[code]

Then after I install 'babel-preset-react-native',
I got this error:
[code]

my dependencies:
  "react": "17.0.1",
    "react-native": "0.64.1",
    "react-native-elements": "3.4.2",
 "react-nativ

[2021-06-11 02:45] xkguq007 commented on #155
any improvements? or answers?

[2021-06-11 05:09] ShindoSensei commented on #155
Could I suggest an alternative? Instead of swiping, tapping an unfilled star once makes it half filled, and then clicking it again fills it fully.

[2021-06-11 08:41] xkguq007 commented on #155
Hmm, I should try it first, then I can decide using alternative or other package.
thanks any way.

I still open this issue because this is not a proper answer but alternative. so I hope someone uploaded PR or merged or I make PR.

[2021-06-15 08:41] conor-v opened #159 "font-weight and family"
How do I change the font-weight and family of the rating system?

[2021-07-05 06:07] ArkaneKhan commented on #104
It's such an important thing doesn't make sense why it's missing.

[2021-07-19 03:41] Raden-Hor commented on #52
You can't change background color because this use actual background image.
You custom image to fit with your background screen
<img width="1237" alt="Screen Shot 2021-07-19 at 10 39 31 AM" src="https://user-images.githubusercontent.com/47242981/126099503-d776da52-a9d8-4f68-a971-0b657a9e1c39.png">

[2021-07-21 14:41] jingyazh commented on #32
I have fixed the space issue between stars.
Set width in `starContainerStyole` with whatever you want. And `justifyContent: 'space-between'`.
Looks great!

[2021-07-24 13:54] arpitBhalla opened #160 "Swipe Rating Class to FC Migration"
Present Swipe Rating is in class component and can be converted to FC.

[2021-07-24 13:54] arpitBhalla commented on #160
I would like to work on this.

[2021-08-03 06:59] Kuljeet-123 opened #162 "I want to customize the borderColors of the stars in AirbnbRating... How Can I do that??"

[2021-08-03 07:02] Kuljeet-123 commented on #162
@jlee0831  @SimenB @chicrock @benwiebe

[2021-08-10 04:10] izzurban commented on #134
Only...

[code]

[2021-09-13 10:20] yawarshah1 commented on #155
did you guys find any solutions for this, I am also stuck :(

[2021-09-13 10:20] parmarravi opened #163 "Android Solid Color box is showing instead of stars"
I have an Android 10 One plus 7T  device. The stars are not visible on the screen.

Instead of star color with respect to the type of rating is visible.
Also not able to hide Rating text above stars.

[code]

[2021-09-13 10:27] parmarravi commented on #126
I am also having this issue.It's not working!!

[2021-09-16 06:50] yuezonglun commented on #163
<Rating
          type="heart"
          ratingCount={3}
          imageSize={20}
          showRating={false}
          tintColor="#ff00ff"
          onFinishRating={this.ratingCompleted}
        />

[2021-09-20 14:01] hstorz commented on #151
It works until version 7.6.0. In later versions the press animation is broken in AirbnbRating. Initially the stars are shown with a small icon and after pressing a star it is shown with a big icon and stays like that.

[2021-10-07 01:34] EverStarck opened #165 "Update the state with an object causes loss info"
[code]
If I press first the button (the button change to true) and then made a swipe, the state object is just something like this:
[code]
instead of:
[code]

[2021-10-13 04:05] #165 closed

[2021-10-21 09:44] Terceramayor opened #167 "When custom icon used the fill fills the entire block"
When using a custom png icon, the rating color doesn't just fill the inside of the icon but the entire icon block:

` <Rating
        type="custom"
        ratingImage={starIcon}
        ratingColor={'rgb(200,0,200)'}
        ratingCount={5}
        imageSize={16}
        showRating={false}
        tintColor={'rgb(0,100,200)'}
        readonly={false}
        startingValue={1.35}
      />`

![imag

[2021-10-26 18:22] xiongemi opened #168 "babel-preset-react-native is deprecate"
https://www.npmjs.com/package/babel-preset-react-native is deprecated

in babelrc file, need to change to "module:metro-react-native-babel-preset"

[2021-11-11 08:21] jyling opened #169 "Weird IOS 15 white background bug"
Recently, my team had been receiving reports that star rating had been giving weird white background issues, what makes this weird is that it only occurs on IOS 15, due to limited resources, I was unable to test the bug on ios 15 due to project begin old and some compatibility issue

![image](https://user-images.githubusercontent.com/11886327/141262373-c081fb1b-2edc-4e64-8dbc-d73700dde748.png)
Mea

[2021-11-11 09:02] yongching commented on #169
+1 happening on iOS 15

[2021-11-12 14:15] diginikkari commented on #158
@xiongemi have you found any solution for this issue? I'm having the same issue and don't seem to find out how to overcome this.

[2021-11-21 12:02] Agent57 opened #170 "Stars Not Being Rendered When Offline"
I'm developing an app that has to cope with very poor network connectivity. I've noticed that if there is no internet connection, the stars are not rendered correctly.

I was able to reproduce this using the v8.1.0 demo application from the repo, built with expo 42.0.1 on Mac OS.

![image](https://user-images.githubusercontent.com/9397975/142760811-85a68bcd-897c-4d03-9574-f31d62211138.png)

 Any a

[2021-11-22 10:48] MagnasiePro commented on #151
+1

[2021-11-28 14:35] chhornponleu commented on #170
I got same issue when update via codepush

[2021-12-01 19:28] MoSattler commented on #169
same here!

[2021-12-18 11:18] hapSa000 commented on #32
I have a solution for this issue
just provide a width to starContainerStyle according to you
and add justifyContent: 'space-between' in starContainerStyle it will perfect
for Eg =>
starContainerStyle={{
                  marginTop: hp('2%'),
                  justifyContent: 'space-between',
width: '80%',
                }}

[2021-12-24 14:16] adrienfloor commented on #170
Same with a normal internet connection on iOS simu ... 😢

[2022-01-02 10:39] Edward-Teach opened #171 "Render Error"
Expo ~43.0.2

**Render Error**
[xxxx, "RTCView", {"width":"<<NaN>>"}] is not usable as a native method argument.

When this happens?

`{stateThatChanges &&  <Rating
                                    startingValue={valueFromState}
                                    fractions={0}
                                    jumpValue={1}
                                    onFinishRating={ratingCompleted}

[2022-01-13 04:51] Devoagency commented on #126
Having the same issue with the latest version

[2022-01-13 04:53] Devoagency commented on #170
I'm having this same issue on a normal internet connection with the latest version. iOS works fine, but on Android the rating is just a block

[2022-01-14 07:22] ecemac commented on #58
This doesn't work for me on iOS 15. I'm still getting the yellow border on stars.

[2022-01-20 16:38] Gubmt opened #172 "Accessibility"
Can I use accessibility props in this component? How do I do that?

[2022-01-29 09:03] kimho commented on #151
+1

[2022-02-14 18:29] EliRobinson commented on #168
Is this lib still maintained? Haven't seen any activity in 9 months according to NPM

[2022-02-14 18:33] Nacho-source commented on #170
I'm having this issue with normal connection too. In android it works fine, but in iOS that odd block is being displayed instead.

Could this be related with [iOS images problem](https://github.com/facebook/react-native/issues/29237)? I've quickly solved that replacing `Image` components with `FastImage`, but I'm affraid that weird workaround cannot be used here bc StarRating only needs the image

[2022-02-18 05:27] riordanpawley commented on #170
Anyone figure out a workaround for this issue? I have this bug on android.
I'm not sure if its relevant but since codepush was mentioned I'm using expo-updates.

[2022-02-23 10:02] Anael-dev commented on #170
same issue on Android, the stars are not rendered also. Any solution?

[2022-02-24 14:12] Nacho-source commented on #170
I could not find a workaround to keep using this component, but I ended up using [this component](https://www.npmjs.com/package/react-native-star-rating) which is very very similar, only differing in that you must tap the stars instead of swaping.
I hope this can be useful for you

[2022-03-03 16:59] Dasu-Uthpala commented on #32
give the width to it like
    width: 400,
    justifyContent: "space-evenly",

[2022-03-10 05:04] ravirajw commented on #155
See this code:
In this, I'm setting `startingValue={ratingValue}`
Initially, ratingValue is 2.5. Then on change in ratings I update ratingValue state.
Which re-renders the rating component with proper star fillings.

`    <Rating
      ratingCount={5}
      imageSize={24}
      onFinishRating={(rating) => {
        console.log("rating: ", rating);
        setRatingValue(rating);
      }}
      sty

[2022-03-29 18:50] daveyjones commented on #151
Downgrading to 7.6.1 fixes the start sizing issues for me.

[2022-03-31 12:33] #160 closed

[2022-04-07 02:14] iyadztabika commented on #32
@jingyazh @hapSa000 @Dasu-Uthpala i've tried the solution but i ended up getting like this, any idea to fix this anyone ? [https://ibb.co/kQth1mN](https://ibb.co/kQth1mN)

[2022-05-02 18:01] vuniverseklaus commented on #142
I set hardcoded 1 to defaultRating and it keeps displaying two stars and half selected, unfortunately I will try another stars library (this in iOS app)
[code]

[2022-05-03 05:37] mokshmodi96 commented on #169
Any Fix For this?

[2022-05-03 23:05] FengWei-Plasmatic commented on #171
I couldn't reproduce this with your code, but I could reproduce this error on an android dev build (that connects to metro) by having `Rating` in a `FlatList` with many items on android. This is because `Rating` has a bad interaction with `removedClippedSubviews` prop of `FlatList`, and it's true by default on android, so setting it to false solved it for me.

This bug appears differently on expo

[2022-05-04 09:08] George-Fx opened #173 "Star Styles"
I set styles for the Rating stars, padding horizontally but it doesn't work.
I use: starContainerStyle={{paddingHorizontal: 10}}

[2022-05-19 03:49] thenderson55 commented on #126
Same issue on iOS

[2022-05-19 03:53] thenderson55 opened #174 "iOS stars are displaying as a solid bar"
version 3.4.2

<img width="341" alt="Screenshot 2022-05-19 at 07 51 43" src="https://user-images.githubusercontent.com/25574846/169200638-0b51dd17-e195-4c7d-ba4e-f651d0337ec3.png">

There is also a same closed issue for Android but still people commenting with problems.

For me Android is fine but iOS is the block/bar.

[2022-06-08 03:48] mayanafit commented on #29
Having the same issue here, workaround like resize the icon is not desired as I use adjusted function to adjust size based on the screen resolution on each device.

[2022-06-11 08:36] MahmudHasanMenon commented on #32
just do it. It will work for you
`starContainerStyle={{ width: 300, justifyContent: 'space-between' }}`

[2022-06-14 12:47] lukasgjetting commented on #167
Just faced this issue as well...

Issue is the default star icon is actually a yellow outline, transparent content and white background outside.

So you need to add a white background to your image.

![star](https://user-images.githubusercontent.com/17611888/173580274-a3d0529f-216c-4842-9f69-973c29a749ca.png)

[2022-06-18 11:25] syedamirali14 commented on #126
just remove `halfStarEnabled={true}` and it will not break in android

[2022-06-21 19:42] frostyk commented on #169
the same problem

[2022-06-21 19:46] frostyk commented on #169
setting tintColor helped me
just try to play around with it

[2022-07-15 22:26] DongHeonRyu commented on #151
7.6.1 fix the problem but the props are very different from 8.1.0.

[2022-07-24 13:29] suulola commented on #29
The fix i eventually resort to was

`
 <View
          style={{
            borderLeftWidth: 1,
            borderLeftColor: 'white',
          }}>
          <Image
            source={source}
            style={{width: imageSize - 1, height: imageSize + 1, tintColor}}
          />
        </View>
`

Used borderColor of white because my app background is white

[2022-07-27 09:37] ravis-farooq opened #175 "Showing weird yellow color and flickers on scroll"
Flickering occurs when we scroll in both ios and android.

[2022-08-10 12:44] reyhanadp opened #176 "Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method"
Hi, I have got the following warning :
**Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
    in _SwipeRating_**

This is my code :
`<Rating readonly={true}
                      type="star"
                      rati

[2022-09-02 15:56] CoryWritesCode commented on #176
seeing same issue on my app

[2022-09-07 10:32] pierregambaud commented on #151
Thanks for your workaround, as the bug is still in 8.1.0 😬

[2022-09-12 10:39] ujshaikh opened #177 "Throwing error related to image"
File doest not existing error throwing while using basic usage of this module.
Please refer following trace

[code]

[2022-09-16 12:15] AbdullahTechxpert commented on #32
starContainerStyle={{
              width: '100%',
              justifyContent: 'space-between',
            }}

[2022-09-27 13:30] tragicmj commented on #175
Did you manage to fix this?

[2022-09-27 13:37] ravis-farooq commented on #175
Yes,
My problem was with state, Actually it was re rendering my component again
and again. It was logical error which i debug later and resolved it.

On Tue, Sep 27, 2022, 7:00 PM Md Javed Akhtar ***@***.***>
wrote:

[2022-09-28 05:46] tragicmj commented on #175
I am not encountering any flickers, but do have a weird yellow color appearing on android
`<Rating
         type='custom'
         ratingImage={STAR_IMAGE}
         ratingColor='#fec91e'
         ratingBackgroundColor={Colors.bgPrimary}
         ratingCount={5}
         imageSize={25}
         readonly={true}
         startingValue={item.ratings}
    />`
This is how I am using it, any suggestions

[2022-09-28 07:03] ravis-farooq commented on #175
import React from 'react';
import {Rating} from 'react-native-ratings';
import {useTheme} from ***@***.***/restyle';
import {Theme} from '../config/theme';
type RatingCompProps = {
rating: number;
};

const RatingComp: React.FC<RatingCompProps> = ({rating}) => {
const theme = useTheme<Theme>();

return (
<>
<Rating
tintColor={theme.colors.background}
imageSize={24}
ratingCount={5}
readonly={true}

[2022-10-17 07:20] divyang-20 opened #178 "AirbnbRating is not showing fractional ratings"

[2022-10-31 16:29] AhmedRedaDev commented on #176
seeing same issue on my app

[2022-11-16 15:08] ctenuta commented on #142
Same for me... on IOS last version keeps showing two stars and half despite defaultRating set.